@import url(theme.css);

@import url('https://fonts.googleapis.com/css?family=Roboto');

body, html, h1, h2, h3, h4, h5, .rst-content .toctree-wrapper p.caption {
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: #2c3e50;
}

/* background color */
.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {
	background: #fff !important;
}

/* general */
h1 {
	font-size: 32px;
}
h2 {
	padding-bottom: .3rem;
  border-bottom: 1px solid #eaecef;
}
h4 {
	font-size: 110%;
	text-decoration: underline;
}
p {
	margin-bottom: 20px;
}
a {
	color: #0366d6;
}
a:hover, a:focus, a:visited {
	color: #0366d6;
	text-decoration: underline;
}
a.reference.external:after {
	font-family: FontAwesome;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: inherit;
	content: "\f08e";
	font-size: 90%;
	margin-left: 3px;
	margin-right: 3px;
	color: #aaa;
}

/* index page */
.genindex-jumpbox {
	margin-bottom: 15px;
}

/* search page */
#search-results .search li {
	border-top: 1px solid #e1e4e5;
	border-bottom: 0;
	margin-bottom: 0;
}

/* sidebar */
.wy-nav-side {
	color: #373737;
	background: #fff;
	text-shadow: none;
	border-right: 1px solid #e1e4e5;
}
/* version */
.wy-side-nav-search > div.version {
	color: #373737;
	font-weight: normal;
	text-align: left;
	margin: 0 0 15px 70px;
	text-transform: uppercase;
	font-size: 14px;
}
.wy-side-nav-search > div.version span {
	font-weight: bold;
	background-color: #373737;
	color: #fff;
	padding: 4px 8px;
	border-radius: 3px;
}
/* search */
.wy-side-nav-search {
	background-color: #fff;
	padding: 0;
}
.wy-side-nav-search>a {
	margin-bottom: 0;
}
.wy-side-nav-search>a img.logo {
	padding: 15px;
	max-height: 150px;
}
#rtd-search-form {
	padding: 15px;
	border-top: 1px solid #e1e4e5;
	border-bottom: 1px solid #e1e4e5;
	background-color: #f6f8fa;
}
.wy-side-nav-search input[type=text] {
	border-color: #e1e4e5;
	font-size: 16px;
	box-shadow: none;
	border-radius: 3px;
	padding: 8px 12px;
}
.wy-side-nav-search input[type=text]:focus {
	border-color: #ccc;
}
/* navigation */
.wy-menu-vertical a {
	color: #373737;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	line-height: 1.4em;
}
.wy-menu-vertical a:hover {
	background: none !important;
	cursor: pointer;
	text-decoration: underline;
	color: #000;
}
.wy-menu-vertical li.current>a span.toctree-expand, .wy-menu-vertical li.on a span.toctree-expand {
	text-decoration: none;
}
.wy-menu-vertical a:hover .toctree-expand:before {
	color: #000;
	text-decoration: none;
}
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
	color: #0366d6;
	font-weight: 600;
}
.wy-menu-vertical li.current {
	background: none;
}
.wy-menu-vertical li.current a {
	border-right: 0;
	padding-right: 1em;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	background: none;
}
.wy-menu-vertical li.toctree-l1>a {
	border-left: 4px solid #fff;
	padding-left: 1.6em;
}
.wy-menu-vertical li.toctree-l1.current>a {
	border-left: 4px solid #0366d6 !important;
}
.wy-menu-vertical li.toctree-l1.current>a {
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wy-menu-vertical li.toctree-l2.current>a {
	background: none;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l2.current>a{
	padding-left: 3.4em;
	padding-right: 1em;
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	background: none;
	padding-left: 4.5em;
	padding-right: 1em;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	background: none;
	padding-left: 5.5em;
	padding-right: 1em;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: #0366d6;
	font-size: 16px;
	margin-bottom: 5px;
	padding-left: 15px;
}

/* top */
.wy-nav-top {
	background-color: #fff;
	color: #404040;
	padding: .4045em 1em;
	border-bottom: 1px solid #e1e4e5;
}
.wy-nav-top a {
	color: #404040;
}
/* header */
.header hr {
 clear: both;
}
/* breadcrumbs */
.wy-breadcrumbs {
	float: left;
	margin-top: -4px;
	margin-bottom: 15px;
	width: calc(100% - 120px);
}
.wy-breadcrumbs .project-name {
	line-height: 25px;
	margin-left: 5px;
}
.wy-breadcrumbs .source-code {
	text-decoration: none;
	color: #999;
	margin-left: 8px;
	margin-top: -2px;
	display: inline-block;
}
.wy-breadcrumbs li a {
	padding-right: 0;
}
.wy-breadcrumbs li:before {
	content: "/";
	margin-right: 5px;
}
.wy-breadcrumbs .wy-breadcrumb-first:before, .wy-breadcrumbs .wy-breadcrumbs-aside:before {
	content: "";
}

/* geocat logo */
.gc-menu {
	float: right;
}
.gc-logo {
	width: auto;
	height: 30px;
}
.gc-logo-small {
	display: none;
}
.gc-subtitle {
	display: none;
}
@media (max-width: 425px) {
	.gc-logo-small {
		display: block;
		width: auto;
		height: 20px;
	}
	.gc-logo {
		display: none;
	}
}

/* content */
.wy-nav-content {
	margin: 0 auto;
}
/* sidebar in content */
.rst-content .sidebar .sidebar-title {
	display: block;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	background: #f6f8fa;
	padding: 12px 24px 0 24px;
	margin: -24px -24px 24px;
	font-size: 100%;
}
.rst-content .sidebar {
	float: right;
	width: 40%;
	display: block;
	margin: 0 0 24px 24px;
	padding: 24px;
	background: #f6f8fa;
	border: 0;
	border-radius: 3px;
}
/* lists */
.rst-content .section ul li p:last-child, .rst-content .section ul li ul, .rst-content .toctree-wrapper ul li p:last-child,
.rst-content .toctree-wrapper ul li ul, .wy-plain-list-disc li p:last-child, .wy-plain-list-disc li ul, article ul li p:last-child,article ul li ul {
	margin-bottom: 5px;
	margin-top: 5px;
}

/* buttons */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
}
.btn-neutral {
	color: #333;
	background-color: #fff;
	border-color: #ccc;
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	box-shadow: none;
}
.btn .fa {
	display: none;
}
.btn .fa-arrow-circle-left {
	display: inline;
}
.btn .fa-arrow-circle-left:before {
	content: "\f104";
	content: "\f177";
}
.btn .fa-arrow-circle-right {
	display: inline;
}
.btn .fa-arrow-circle-right:before {
	content: "\f105";
	content: "\f178";
}
.rst-footer-buttons .btn {
	font-size: 16px;
	border: 0;
	background: none !important;
	padding: 6px 0;
	color: #0366d6 !important;
}

/* tables */
.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td, .wy-table th,
.rst-content table.docutils th, .rst-content table.field-list th {
	text-align: left;
	font-size: 100%;
	white-space: normal;
	vertical-align: text-top;
}
.wy-table td p, .rst-content table.docutils td p, .rst-content table.field-list td p, .wy-table th p,
.rst-content table.docutils th p, .rst-content table.field-list th p {
	margin: 0;
}
/* table in a message */
.rst-content .admonition table td, .rst-content .admonition table th {
	background: #fff !important;
}

/* messages */
.admonition {
	padding: .1rem 1.5rem;
	border-left-width: .25em;
	border-left-style: solid;
	margin: 1rem 0;
}
.rst-content .admonition-title {
	font-weight: 600;
	padding: 0 0 5px 0 !important;
	background: transparent !important;
	margin: 0 !important;
	color: #2c3e50;
	line-height: 1.7em;
	text-transform: uppercase;
}
.rst-content .admonition-title:before {
	margin: 0;
	content: "";
}
.admonition.hint, .admonition.important, .admonition.tip {
	background-color: #f6f8fa;
	border-color: #42b983;
}
.admonition.attention, .admonition.caution, .admonition.warning { 
	background-color: rgba(255,229,100,.3);
	border-color: #e7c000;
	color: #6b5900;
}
.admonition.attention .admonition-title, .admonition.caution .admonition-title, .admonition.warning .admonition-title {
	color: #b29400;
}
.admonition.danger, .admonition.error {
	background-color: #ffe6e6;
	border-color: #c00;
	color: #4d0000;
}
.admonition.danger  .admonition-title, .admonition.error  .admonition-title {
	color: #900;
}
.admonition.note {
	border-color: #6ab0de;
}
.admonition.hint .admonition-title, .admonition.important .admonition-title, 
.admonition.tip .admonition-title, .admonition.note .admonition-title {
	color: #2c3e50;
}

/* blocks */
.rst-content blockquote, .line-block {
	padding: 0 1em;
	color: #6a737d;
	border-left: .25em solid #dfe2e5;
	margin-left: 0;
}
.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
	background-color: #f6f8fa;
	border: 0;
	border-radius: 3px;
	line-height: 1.45;
}
.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
	font-size: 14px;
	line-height: 1.45;
}
.rst-content .code-block-caption {
	text-align: left;
}
blockquote .line-block, .line-block .line-block {
	border: 0;
	padding: 0;
}
code, .rst-content tt, .rst-content code {
	border: 0;
	padding: .2em .4em;
	margin: 0;
	font-size: 85%;
	background-color: rgba(27,31,35,.05);
	border-radius: 3px;
}
/* glossary */
.glossary {
	padding: 12px;
	background-color: #f6f8fa;
	border: 0;
	border-radius: 3px;
	line-height: 1.45;
}
/* footnote */
.footnote {
	font-size: 16px !important;
	line-height: 1.5;
}
.rst-content .footnote-reference, .rst-content .citation-reference {
	top: auto;
}
/* images and figures */
.rst-content div.figure p.caption {
	font-style: normal;
	font-size: 12px;
	color: #525252;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	body, h1, h2, h3, h4, h5, .rst-content .toctree-wrapper p.caption {
		color: #F8F8F2;
	}
	h2 {
    border-bottom: 0;
		display: inline-block;
	}
	a, a:hover, a:focus, a:visited {
		color: #3ab1fd;
	}
	a.reference.external:after {
		color: #3ab1fd;
	}
	.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {
		background: #272822 !important;
	}
	/* breadcrumbs */
	.wy-breadcrumbs .gc-g {
		fill: #e4e4e4;
	}
	hr {
		border-color: #41433C;
	}
	/* logo */
	.gc-logo .gc-title-dark, .gc-logo .gc-g {
		fill: #fff;
	}
	/* sidebar */
	.wy-nav-side {
		color: #e4e4e4;
		background: #151515;
		border-color: #41433C;
	}
	.wy-menu-vertical li.toctree-l1>a {
    border-left-color: #151515;
	}
	.wy-menu-vertical li.toctree-l1.current>a {
		border-left: 4px solid #3ab1fd !important;
	}
	.wy-side-nav-search {
		background-color: #f5f5f5;
	}
	.wy-side-nav-search > div.version {
    color: #F8F8F2;
	}
	/* search */
	#rtd-search-form {
		border-color: #41433C;
		background-color: #333;
	}
	.wy-side-nav-search input[type=text] {
		border-color: #41433C;
		background-color: #f5f5f5;
	}
	.wy-side-nav-search input[type=text]:focus {
		border-color: #333;
	}
	/* navigation */
	.wy-menu-vertical header, .wy-menu-vertical p.caption {
		color: #3ab1fd;
	}
	.wy-menu-vertical a {
		color: #e4e4e4;
	}
	.wy-menu-vertical a .toctree-expand {
		color: #a3a3a3 !important;
	}
	.wy-menu-vertical a:hover {
		color: #fff;
	}
	.wy-menu-vertical a:hover .toctree-expand:before {
		color: #fff;
	}
	.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a, .wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a,
	.wy-menu-vertical li.toctree-l4 a {
		color: #e4e4e4;
	}
	/* footer */
	.rst-footer-buttons .btn {
    color: #3ab1fd !important;
	}
	/* content */
	.rst-content a {
		text-decoration: underline;
	}
	.rst-content .wy-breadcrumbs a {
		text-decoration: none;
	}
	.rst-content blockquote, .line-block {
		border-left-color: #41433C;
	}
	.rst-content .guilabel, .rst-content .menuselection {
		border: none;
		background: none;
		text-shadow: none;
		font-size: 100%;
		padding: 0;
		margin: 0;
		font-weight: bold;
	}
	.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
    background-color: #41433C;
	}
	.rst-content .highlight .go {
    color: #F8F8F2;
	}
	.rst-content .highlight .o {
    color: #ff6188;
	}
	.rst-content .highlight .mf, .rst-content .highlight .mi {
    color: #a9dc76;
	}
	.rst-content table.docutils caption, .rst-content table.field-list caption, .wy-table caption {
		color: #e4e4e4;
	}
	.rst-content div.figure p.caption {
		color: #e4e4e4;
	}
	.rst-content .footnote-reference, .rst-content .citation-reference, .footnote .brackets .fn-backref {
    color: #F92672;
	}
	.rst-content code.literal, .rst-content tt.literal {
		background-color: #151515;
		color: #F92672;
	}
	/* messages */
	.rst-content .admonition, .rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .hint, .rst-content .important, .rst-content .note, .rst-content .seealso, .rst-content .tip, .rst-content .warning, .wy-alert {
		background: #3a3a3a;
	}
	.admonition.danger, .admonition.error {
    background-color: #e46060;
    border-color: #c00;
    color: #fff;
	}
	.rst-content .admonition-title {
    color: #27ae60;
	}
	.admonition.note {
		border-color: #6ab0de;
		background-color: #a0daff;
		color: #2c3e50;
	}
	.admonition.hint .admonition-title, .admonition.important .admonition-title, 
	.admonition.tip .admonition-title, .admonition.note .admonition-title {
		color: #2c3e50;
	}
	.admonition.attention, .admonition.caution, .admonition.warning { 
		color: #e7c000;
	}
	.admonition.attention .admonition-title, .admonition.caution .admonition-title, .admonition.warning .admonition-title {
		color: #e7c000;
	}
	/* tables */
	.rst-content table.docutils {
		border: 1px solid #41433C;
		background-color: #333;
	}
	.rst-content table.docutils thead th, .rst-content table.field-list thead th, .wy-table thead th {
		color: #e4e4e4;
    border-bottom: 1px solid #41433C;
	}
	.rst-content table.docutils td, .wy-table-bordered-all td {
		border-bottom: 1px solid #41433C;
		border-left: 1px solid #41433C;
	}
	.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {
		background-color: #3a3a3a;
	}
}

/* helper */
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}