@import url(theme.css);

:root {
	/* default colors */
	--gc-blue: #0d6efd;
	--gc-indigo: #6610f2;
	--gc-purple: #6f42c1;
	--gc-pink: #d63384;
	--gc-red: #dc3545;
	--gc-orange: #fd7e14;
	--gc-yellow: #ffc107;
	--gc-green: #198754;
	--gc-teal: #20c997;
	--gc-cyan: #0dcaf0;
	--gc-gray-100: #f8f9fa;
	--gc-gray-200: #e9ecef;
	--gc-gray-300: #dee2e6;
	--gc-gray-400: #ced4da;
	--gc-gray-500: #adb5bd;
	--gc-gray-600: #6c757d;
	--gc-gray-700: #495057;
	--gc-gray-800: #343a40;
	--gc-gray-900: #212529;
	--gc-black: #000;
	--gc-white: #fff;
	--gc-gray: var(--gc-gray-600);
	--gc-gray-dark: var(--gc-gray-800);
	/* colors for admonition */
	--gc-primary: var(--gc-blue);
	--gc-secondary: var(--gc-gray-600);
	--gc-success: var(--gc-green);
	--gc-info: var(--gc-cyan);
	--gc-warning: var(--gc-yellow);
	--gc-danger: var(--gc-red);
	--gc-light: var(--gc-gray-100);
	--gc-dark: var(--gc-gray-900);
	/* GeoCat colors */
	--gc-color: #2c3e50;
	--gc-link-color: #0366d6;
	--gc-border-color: #e1e4e5;
	--gc-background-color-default: #f6f8fa;
	/* card styles */
	--gc-card-border-radius: 3px;
	--gc-card-hover-shadow: 0 0 0 1px rgba(50, 50, 93, 0.01), 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.02);
  /* miscellaneous	*/
	--gc-spacing-default: 15px;
}

@media screen and (prefers-color-scheme: light) {
	:root {
		/* default colors */
		--gc-blue: #0d6efd;
		--gc-indigo: #6610f2;
		--gc-purple: #6f42c1;
		--gc-pink: #d63384;
		--gc-red: #dc3545;
		--gc-orange: #fd7e14;
		--gc-yellow: #ffc107;
		--gc-green: #198754;
		--gc-teal: #20c997;
		--gc-cyan: #0dcaf0;
		--gc-gray-dark: #343a40;
		--gc-gray-100: #f8f9fa;
		--gc-gray-200: #e9ecef;
		--gc-gray-300: #dee2e6;
		--gc-gray-400: #ced4da;
		--gc-gray-500: #adb5bd;
		--gc-gray-600: #6c757d;
		--gc-gray-700: #495057;
		--gc-gray-800: #343a40;
		--gc-gray-900: #212529;
		--gc-black: #000;
		--gc-white: #fff;
		/* GeoCat colors */
		--gc-color: var(--gc-gray-100);
		--gc-link-color: #0366d6;
		--gc-border-color: #e1e4e5;
		--gc-background-color-default: #f6f8fa;
	}
}

/* roboto-regular - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local(''),
       url('../font/roboto-v20-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../font/roboto-v20-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body, html, h1, h2, h3, h4, h5, .rst-content .toctree-wrapper p.caption {
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	color: var(--gc-color);
}

/* background color */
.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {
	background: var(--gc-white) !important;
}

/* general */
h1 {
	font-size: 32px;
}
h2 {
	padding-bottom: .3rem;
	border-bottom: 1px solid var(--gc-border-color);
}
h4 {
	font-size: 110%;
	text-decoration: underline;
}
p {
	margin-bottom: var(--gc-spacing-default);
}
a {
	color: var(--gc-link-color);
}
a:hover, a:focus, a:visited {
	color: var(--gc-link-color);
	text-decoration: underline;
}
a.reference {
	word-break: break-word;
}
a.reference.external:after {
	font-family: FontAwesome;
	display: inline-block;
	font-style: normal;
	font-weight: 400;
	line-height: 1;
	text-decoration: inherit;
	content: "\f08e";
	font-size: 90%;
	margin-left: 3px;
	margin-right: 3px;
	color: #aaa;
}
hr {
	border-top: 1px solid var(--gc-border-color);
}
::-moz-selection {
	background: var(--gc-yellow);
	color: var(--gc-light);
}
::selection {
	background: var(--gc-yellow);
	color: var(--gc-light);
}
::marker {
	font-weight: bold;
}

/* index page */
.genindex-jumpbox {
	margin-bottom: var(--gc-spacing-default);
}

/* search page */
#search-results .search li {
	border-top: 1px solid var(--gc-border-color);
	border-bottom: 0;
	margin-bottom: 0;
}

/* layout */
.wy-grid-for-nav {
	height: auto;
}
.wy-nav-side {
	position: fixed;
	padding-top: 155px;
}
.wy-side-nav-search {
	position: fixed;
	top: 0;
}
@media screen and (max-width: 768px) {
	.wy-nav-side {
		padding-top: 0;
	}
	.wy-side-nav-search {
		position: relative;
	}
}
.wy-nav-content-wrap {
	height: 100vh;
	overflow: auto;
}
@media print {
	.wy-nav-content-wrap {
		height: 100%;
	}
}

/* sidebar */
.wy-nav-side {
	color: var(--gc-gray-700);
	background: var(--gc-white);
	text-shadow: none;
	border-right: 1px solid var(--gc-border-color);
}
/* version */
.wy-side-nav-search > div.version:before {
	content: "v";
	font-weight: normal;
	text-align: left;
	text-transform: uppercase;
	font-size: 14px;
}
.wy-side-nav-search > div.version {
	font-weight: bold;
	background-color: var(--gc-gray-700);
	color: var(--gc-white);
	padding: 4px 8px;
	border-radius: var(--gc-card-border-radius);
	display: inline-block;
	margin-left: 70px;
}
/* search */
.wy-side-nav-search {
	background-color: var(--gc-white);
	border-right: 1px solid var(--gc-border-color);
	padding: 0;
	text-align: left;
}
@media screen and (max-width: 768px) {
	.wy-side-nav-search {
		border-right: 0;
	}
}
.wy-side-nav-search>a {
	margin-bottom: 0;
}
.wy-side-nav-search>a img.logo {
	padding: var(--gc-spacing-default);
	max-height: 150px;
}
#rtd-search-form {
	padding: 15px;
	border-top: 1px solid var(--gc-border-color);
	border-bottom: 1px solid var(--gc-border-color);
	background-color: var(--gc-background-color-default);
}
.wy-side-nav-search input[type=text] {
	border-color: var(--gc-border-color);
	font-size: 16px;
	box-shadow: none;
	border-radius: var(--gc-card-border-radius);
	padding: 8px 12px;
}
.wy-side-nav-search input[type=text]:focus {
	border-color: var(--gc-border-color);
}
/* navigation */
.wy-menu-vertical a {
	color: var(--gc-gray-700);
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 16px;
	line-height: 1.4em;
}
.wy-menu-vertical a:hover {
	background: none !important;
	cursor: pointer;
	text-decoration: underline;
	color: var(--gc-black);
}
.wy-menu-vertical li.current>a span.toctree-expand, .wy-menu-vertical li.on a span.toctree-expand {
	text-decoration: none;
}
.wy-menu-vertical a:hover .toctree-expand:before {
	color: var(--gc-black);
	text-decoration: none;
}
.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a {
	color: var(--gc-link-color);
	font-weight: 600;
}
.wy-menu-vertical li.current {
	background: none;
}
.wy-menu-vertical li.current a {
	border-right: 0;
	padding-right: 1em;
}
.wy-menu-vertical li.on a, .wy-menu-vertical li.current>a {
	background: none;
}
.wy-menu-vertical li.toctree-l1>a {
	border-left: 4px solid var(--gc-white);
	padding-left: 1.6em;
}
.wy-menu-vertical li.toctree-l1.current>a {
	border-left: 4px solid var(--gc-link-color) !important;
}
.wy-menu-vertical li.toctree-l1.current>a {
	border: 0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.wy-menu-vertical li.toctree-l2.current>a {
	background: none;
	text-shadow: none;
	padding-top: 10px;
	padding-bottom: 10px;
	font-weight: 600;
}
.wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l2.current>a{
	padding-left: 3.4em;
	padding-right: 1em;
}
.wy-menu-vertical li.toctree-l2.current li.toctree-l3>a {
	background: none;
	padding-left: 4.5em;
	padding-right: 1em;
}
.wy-menu-vertical li.toctree-l3.current li.toctree-l4>a {
	background: none;
	padding-left: 5.5em;
	padding-right: 1em;
}
.wy-menu-vertical header, .wy-menu-vertical p.caption {
	color: var(--gc-link-color);
	font-size: 16px;
	margin-bottom: 5px;
	padding-left: var(--gc-spacing-default);
}

/* top */
.wy-nav-top {
	background-color: var(--gc-white);
	color: var(--gc-gray-600);
	padding: .4045em 1em;
	border-bottom: 1px solid var(--gc-border-color);
}
.wy-nav-top a {
	color: var(--gc-gray-600);
}
/* header */
.header hr {
	clear: both;
}
/* hide pre-release */
#gc_prerelease {
	display: none;
}
/* breadcrumbs */
.wy-breadcrumbs {
	float: left;
	margin-top: -4px;
	margin-bottom: var(--gc-spacing-default) !important;
	width: calc(100% - 120px);
	padding-left: 0 !important;
}
.wy-breadcrumbs .project-name {
	line-height: 25px;
	margin-left: 5px;
}
.wy-breadcrumbs .source-code {
	text-decoration: none;
	color: var(--gc-gray-400);
	margin-left: 8px;
	margin-top: -2px;
	display: inline-block;
}
.wy-breadcrumbs li {
	margin-left: 0 !important;
}
.wy-breadcrumbs li a {
	padding-right: 0;
}
.wy-breadcrumbs li:before {
	content: "❯";
	margin-right: 5px;
}
.wy-breadcrumbs .wy-breadcrumb-first:before, .wy-breadcrumbs .wy-breadcrumbs-aside:before {
	content: "";
}

/* geocat logo */
.gc-menu {
	float: right;
	padding-left: 0 !important;
}
.gc-menu li {
	list-style: none !important;
	margin-left: 0 !important;
}
.gc-logo {
	width: auto;
	height: 30px;
}
.gc-logo-small {
	display: none;
}
.gc-subtitle {
	display: none;
}
@media (max-width: 425px) {
	.gc-logo-small {
		display: block;
		width: auto;
		height: 20px;
	}
	.gc-logo {
		display: none;
	}
}

/* footer */
footer p {
	padding-bottom: var(--gc-spacing-default);
}

/* content */
.wy-nav-content {
	margin: 0 auto;
}
/* sidebar in content */
.rst-content .sidebar .sidebar-title {
	display: block;
	font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-weight: 700;
	background: var(--gc-background-color-default);
	padding: 12px 24px 0 24px;
	margin: -24px -24px 24px;
	font-size: 100%;
}
.rst-content .sidebar {
	float: right;
	width: 40%;
	display: block;
	margin: 0 0 24px 24px;
	padding: 24px;
	background: var(--gc-background-color-default);
	border: 0;
	border-radius: var(--gc-card-border-radius);
}
/* lists */
.rst-content .section ul li p:last-child, .rst-content .section ul li ul, .rst-content .toctree-wrapper ul li p:last-child,
.rst-content .toctree-wrapper ul li ul, .wy-plain-list-disc li p:last-child, .wy-plain-list-disc li ul, article ul li p:last-child,article ul li ul {
	margin-bottom: 5px;
	margin-top: 5px;
}
.rst-content dl ol, .rst-content dl p, .rst-content dl table, .rst-content dl ul {
	margin-bottom: 5px;
}
.rst-content ul {
	margin-bottom: var(--gc-spacing-default);
	padding-left: 1em;
}
.rst-content li, .rst-content .toctree-wrapper ul li {
	list-style: disc;
	margin-left: 1rem;
}
.rst-content li p {
	margin-bottom: 0;
	padding: 5px 0;
}

/* ui & menu */
.rst-content .guilabel {
	border: 0;
	background: none;
	font-size: 100%;
	padding: 0;
	color: var(--gc-gray-700);
	font-weight: bold;
	border-radius: 0;
}
.rst-content .menuselection {
	background-color: #e1e1e1;
	color: var(--gc-gray-700);
	font-size: 85%;
	padding: 4px 5px;
	border-radius: var(--gc-card-border-radius);
}

/* buttons */
.btn {
	display: inline-block;
	padding: 6px 12px;
	margin-bottom: 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	background-image: none;
	border: 1px solid transparent;
	border-radius: 4px;
	box-shadow: none;
}
.btn-neutral {
	color: var(--gc-gray-700);
	background-color: var(--gc-white);
	border-color: var(--gc-white);
}
.btn:hover {
	text-decoration: none;
}
.btn:active {
	box-shadow: none;
}
.btn .fa {
	display: none;
}
.btn .fa-arrow-circle-left {
	display: inline;
}
.btn .fa-arrow-circle-left:before {
	content: "\f104";
	content: "\f177";
}
.btn .fa-arrow-circle-right {
	display: inline;
}
.btn .fa-arrow-circle-right:before {
	content: "\f105";
	content: "\f178";
}
.rst-footer-buttons .btn {
	font-size: 16px;
	border: 0;
	background: none !important;
	padding: 6px 0;
	color: var(--gc-link-color) !important;
}

/* tables */
.wy-table td, .rst-content table.docutils td, .rst-content table.field-list td, .wy-table th,
.rst-content table.docutils th, .rst-content table.field-list th {
	text-align: left;
	font-size: 100%;
	white-space: normal;
	vertical-align: text-top;
}
.wy-table td p, .rst-content table.docutils td p, .rst-content table.field-list td p, .wy-table th p,
.rst-content table.docutils th p, .rst-content table.field-list th p {
	margin: 0;
	line-height: 24px;
}
/* table in a message */
.rst-content .admonition table td, .rst-content .admonition table th {
	background: var(--gc-white) !important;
}

/* messages */
.admonition {
	padding: .1rem 1.5rem;
	border-left-width: .25em;
	border-left-style: solid;
	margin: 1rem 0;
	border-color: #6ab0de;
}
.rst-content .admonition-title {
	font-weight: 600;
	padding: 0 0 5px 0 !important;
	background: transparent !important;
	margin: 0 !important;
	color: var(--gc-color);
	line-height: 1.7em;
	text-transform: uppercase;
}
.rst-content .admonition-title:before {
	margin: 0;
	content: "";
}
.admonition.hint, .admonition.important, .admonition.tip {
	background-color: var(--gc-background-color-default);
	border-color: var(--gc-success);
}
.admonition.attention, .admonition.caution, .admonition.warning {
	background-color: rgba(255,229,100,.3);
	border-color: var(--gc-warning);
	color: #6b5900;
}
.admonition.attention .admonition-title, .admonition.caution .admonition-title, .admonition.warning .admonition-title {
	color: #b29400;
}
.admonition.danger, .admonition.error {
	background-color: var(--gc-light);
	border-color: var(--gc-danger);
	color: #4d0000;
}
.admonition.danger  .admonition-title, .admonition.error  .admonition-title {
	color: var(--gc-danger);
}
.admonition.note {
	border-color: var(--gc-info);
}
.admonition.hint .admonition-title, .admonition.important .admonition-title,
.admonition.tip .admonition-title, .admonition.note .admonition-title {
	color: var(--gc-color);
}
.admonition-exercise .guilabel {
	color: var(--gc-dark);
	background: var(--gc-info);
}
.admonition .note {
	border-left: 0;
	background: var(--gc-light);
}

/* blocks */
.rst-content blockquote {
	margin-left: 0;
}
.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
	background-color: var(--gc-background-color-default);
	border: 0;
	border-radius: var(--gc-card-border-radius);
	line-height: 1.45;
}
.rst-content pre.literal-block, .rst-content div[class^='highlight'] pre, .rst-content .linenodiv pre {
	font-size: 14px;
	line-height: 1.45;
}
.rst-content .code-block-caption {
	text-align: left;
}
.rst-content code.literal, .rst-content tt.literal {
	color: var(--gc-red);
}
code, .rst-content tt, .rst-content code {
	border: 0;
	padding: .2em .4em;
	margin: 0;
	font-size: 85%;
	background-color: var(--gc-gray-200);
	border-radius: var(--gc-card-border-radius);
}
/* copy button */

/* different styling for button in a table cell - needed for html_codeblock_linenos_style = 'table' setting */
button.copybtn {
	font-size: 1em;
	padding: .2em .5em;
}
td.code button.copybtn {
	right: auto;
	left: 0.3em;
}
td.code .o-tooltip--left:after {
	left: 5em;
}

/* glossary */
.glossary {
	padding: 12px;
	background-color: var(--gc-background-color-default);
	border: 0;
	border-radius: var(--gc-card-border-radius);
	line-height: 1.45;
}
/* footnote */
.footnote {
	font-size: 16px !important;
	line-height: 1.5;
}
.rst-content .footnote-reference, .rst-content .citation-reference {
	top: auto;
}
.rst-content .footnote-reference, .rst-content .citation-reference, .footnote .brackets .fn-backref {
	color: var(--gc-pink);
	text-decoration: underline;
}
/* images and figures */
.rst-content img {
	margin-bottom: var(--gc-spacing-default);
}
.rst-content figure {
	margin-bottom: 25px;
}
.rst-content div.figure p.caption, .rst-content div.figure .caption-text {
	font-style: normal;
	font-size: 12px;
	color: #525252;
}
.rst-content figcaption .headerlink {
	visibility: hidden;
	font-size: 14px;
}
.rst-content figcaption .headerlink:after {
	content: "\f0c1";
	font-family: FontAwesome;
}
.rst-content figcaption:hover .headerlink:after {
	visibility: visible;
}

/* dark theme */
@media (prefers-color-scheme: dark) {
	body, h1, h2, h3, h4, h5, .rst-content .toctree-wrapper p.caption {
		color: var(--gc-light);
	}
	h2 {
		border-bottom: 0;
		display: inline-block;
	}
	a, a:hover, a:focus, a:visited {
		color: #3ab1fd;
	}
	.wy-body-for-nav, .wy-nav-content-wrap, .wy-nav-content {
		background: #272822 !important;
	}
	/* breadcrumbs */
	.wy-breadcrumbs .gc-g {
		fill: #e4e4e4;
	}
	hr {
		border-color: var(--gc-gray-600);
	}
	/* logo */
	.gc-logo .gc-title-dark, .gc-logo .gc-g {
		fill: var(--gc-white);
	}
	/* sidebar */
	.wy-nav-side {
		color: #e4e4e4;
		background: #151515;
		border-color: var(--gc-gray-600);
	}
	.wy-menu-vertical li.toctree-l1>a {
		border-left-color: #151515;
	}
	.wy-menu-vertical li.toctree-l1.current>a {
		border-left: 4px solid #3ab1fd !important;
	}
	.wy-side-nav-search > div.version {
		color: var(--gc-light);
	}
	/* search */
	.wy-side-nav-search {
		border-color: var(--gc-gray-600);
	}
	#rtd-search-form {
		border-color: var(--gc-gray-600);
		background-color: var(--gc-gray-700);
	}
	.wy-side-nav-search input[type=text] {
		border-color: var(--gc-gray-600);
	}
	.wy-side-nav-search input[type=text]:focus {
		border-color: var(--gc-gray-700);
	}
	/* navigation */
	.wy-menu-vertical header, .wy-menu-vertical p.caption {
		color: #3ab1fd;
	}
	.wy-menu-vertical a {
		color: #e4e4e4;
	}
	.wy-menu-vertical a .toctree-expand {
		color: #a3a3a3 !important;
	}
	.wy-menu-vertical a:hover {
		color: var(--gc-white);
	}
	.wy-menu-vertical a:hover .toctree-expand:before {
		color: var(--gc-white);
	}
	.wy-menu-vertical li.current>a, .wy-menu-vertical li.on a, .wy-menu-vertical li.toctree-l2 a, .wy-menu-vertical li.toctree-l3 a,
	.wy-menu-vertical li.toctree-l4 a {
		color: #e4e4e4;
	}
	/* footer */
	.rst-footer-buttons .btn {
		color: #3ab1fd !important;
	}
	/* content */
	.rst-content a {
		text-decoration: underline;
	}
	.rst-content .wy-breadcrumbs a {
		text-decoration: none;
	}
	.rst-content blockquote {
		color: #91969c;
	}
	.rst-content table.docutils.footnote, html.writer-html4 .rst-content table.docutils.citation, html.writer-html5 .rst-content dl.footnote {
		color: #91969c;
	}
	.rst-content .guilabel {
		background-color: #7399ae;
		border-color: #517d99;
	}
	.rst-content .menuselection {
		background-color: #aaa;
		border-color: #a0a0a0;
	}
	.rst-content pre.literal-block, .rst-content div[class^='highlight'] {
		background-color: var(--gc-gray-600);
	}

	.rst-content .highlight .go {
		color: var(--gc-light);
	}
	.rst-content .highlight .nv, .rst-content .highlight .n {
		color: #080808;
	}
	.rst-content .highlight .c {
		color: #FF5722;
	}
	.rst-content .highlight .gh {
		color: #009688;
	}
	.rst-content .highlight .o {
		color: #ff6188;
	}
	.rst-content .highlight .ow, .rst-content .highlight .m, .rst-content .highlight .kc, .rst-content .highlight .nb, .rst-content .highlight .nt {
		color: #2196F3;
	}
	.rst-content .highlight .k, .rst-content .highlight .nd {
		color: #9e87e2;
	}
	.rst-content .highlight .mf, .rst-content .highlight .mi {
		color: #a9dc76;
	}
	.rst-content .highlight .cp {
		color: #e74c3c;
	}
	.rst-content table.docutils caption, .rst-content table.field-list caption, .wy-table caption {
		color: #e4e4e4;
	}
	.rst-content div.figure img {
		background-color: var(--gc-white);
	}
	.rst-content div.figure p.caption {
		color: #e4e4e4;
	}
	.rst-content .footnote-reference, .rst-content .citation-reference, .footnote .brackets .fn-backref {
		color: var(--gc-pink);
	}
	.rst-content code.literal, .rst-content tt.literal {
		background-color: var(--gc-dark);
		color: var(--gc-pink);
	}
	/* messages */
	.rst-content .admonition, .rst-content .admonition-todo, .rst-content .attention, .rst-content .caution, .rst-content .hint, .rst-content .important, .rst-content .note, .rst-content .seealso, .rst-content .tip, .rst-content .warning, .wy-alert {
		background: #3a3a3a;
	}
	.rst-content .admonition table td, .rst-content .admonition table th {
		background: var(--gc-gray-600) !important;
	}
	.admonition.danger, .admonition.error {
		background-color: #e46060;
		border-color: var(--gc-red);
		color: var(--gc-white);
	}
	.rst-content .admonition-title {
		color: #27ae60;
	}
	.admonition.note {
		border-color: #6ab0de;
		background-color: #a0daff;
		color: var(--gc-color);
		opacity: 0.6;
	}
	.admonition.note a, .admonition.note a:hover, .admonition.note a:focus, .admonition.note a:visited {
    color: #3ab1fd;
	}
	.admonition.hint .admonition-title, .admonition.important .admonition-title, 	.admonition.tip .admonition-title {
		color: #8BC34A;
	}
	.admonition.note .admonition-title {
		color: var(--gc-color);
	}
	.admonition.attention, .admonition.caution, .admonition.warning {
		color: #a99327;
	}

	.highlight .hll {
    background-color: #c7c795;
	}
	.glossary {
		background-color: var(--gc-gray-600);
	}

	/*!* tables *!*/
	/*.rst-content table.docutils {*/
	/*	border: 1px solid var(--gc-gray-600) !important;*/
	/*	background-color: var(--gc-gray-700) !important;*/
	/*}*/
	/*.rst-content table.docutils thead th, .rst-content table.field-list thead th, .wy-table thead th {*/
	/*	color: #e4e4e4 !important;*/
	/*	border-bottom: 1px solid var(--gc-gray-600) !important;*/
	/*}*/
	/*.rst-content table.docutils th, .wy-table-bordered-all th, .rst-content table.docutils td, .wy-table-bordered-all td {*/
	/*	border-color: var(--gc-gray-600) !important;*/
	/*	background-color: var(--gc-gray-700) !important;*/
	/*}*/
	/*.rst-content table.docutils:not(.field-list) tr:nth-child(2n-1) td, .wy-table-backed, .wy-table-odd td, .wy-table-striped tr:nth-child(2n-1) td {*/
	/*	background-color: var(--gc-gray-700) !important;*/
	/*}*/

	/*html.writer-html5 .rst-content table.docutils th {*/
  /*  border-color: var(--gc-gray-600) !important;*/
	/*}*/
	/*.rst-content .admonition.tip table td, .rst-content .admonition.tip table th {*/
	/*	background: transparent !important;*/
	/*	border-color: var(--gc-gray-600) !important;*/
	/*}*/
}

/* helper */
.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}
.clearfix:after {
	clear: both;
}

/* custom geocat classes */
.rst-content .section .gc-list-blocks .caption {
	border-bottom: 1px solid var(--gc-border-color);
	padding-bottom: .3rem;
}
.rst-content .section .gc-list-blocks ul {
	display: grid;
	grid-template-columns: repeat(3, minmax(200px, 33%));
	grid-gap: 20px;
}
.rst-content .section .gc-list-blocks ul li {
	list-style: none;
	margin-left: 0;
	padding: 18px;
	border: 1px solid var(--gc-border-color);
	border-radius: var(--gc-card-border-radius);
	background-color: var(--gc-background-color-default);
	transition: box-shadow 0.2s ease-in-out;
}
.rst-content .section .gc-list-blocks ul li:hover {
	box-shadow: var(--gc-card-hover-shadow);
}
.rst-content .section .gc-list-blocks ul li a:hover {
	text-decoration: none;
}